# Dependencies
node_modules/
**/node_modules/

# Environment / secrets
.env
**/.env
.env*.local
**/.env*.local

# Expo
.expo/
**/.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
**/.DS_Store
*.pem

# Editor
.vscode/
